@{
    ViewBag.Title = "Home Page";
}

<h3>This page should contain:</h3>
<ol class="round">
@if (Request.IsAuthenticated)
{
    <li>
        <h5>Your move</h5>
        A list of all your current games where it is currently your turn
    </li>

    <li>
        <h5>Their move</h5>
        A list of all your current games where it is not currently your turn
    </li>
}
else
{
    <li>
        <h5>Welcome info</h5>
        Something to welcome you to the site and encourage you to register or log in
    </li>
}
    <li>
        <h5>News</h5>
        General homepage text and update information
    </li>

    <li>
        <h5>Variants</h5>
        New / popular / featured variants
    </li>
</ol>

@section actions {
    <button><img src="@Url.Content("~/Images/search.png")"></button>
}