#indicator {
    width:12em;
    height:12em;
}
#indicator .marker {
    stroke:black;
    stroke-width:2;
}

#arrowhead {
    fill: black;
}

#indicator .marker.from {
    stroke:red;
}

#indicator .marker.to {
    stroke:#09f;
}

select.highlightTo {
    color:#09f;
}

#sidebar .button {
    font-size: 0.9em;
}

.groupbox {
    font-size:0.8em;
    margin-left: 0.6em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    padding: 0.6em;
    border: 1px solid #d3d3d3;
    background-color: #d8e0ef;
    display: inline-block;
}

.groupbox h4 {
    margin-top:0;
    margin-bottom:0.1em;
    font-size:1.2em;
}

.groupbox th {
    font-size:1em;
    padding-left:0.5em;
}

.groupbox tr.row:hover {
    color:red;
}