form {
    display:none;
}

#board {
    position: absolute;
    left: 12em;
    right: 0px;
    top: 5.5em;
    bottom: 0px;
}

#render {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.toolbox {
    background-color:darkgray;
    position:absolute;
    left:0px;
    width:12em;
    top:5.5em;
    bottom:22em;
}

.itemProperties {
    background-color:slategray;
    position:absolute;
    left:0px;
    width:12em;
    height:22em;
    bottom:0px;
}

    .itemProperties .color {
        font-size: 0.85em;
    }
		
.itemProperties .arrowKeys {
	position:relative;
	height:10.5em;
}
		
.itemProperties .arrowKeys .button {
	position:absolute;
    width:2em;
    height:2em;
}

#moveUpFast {
	top:0; left:4.4em;
}
		
#moveUp {
	top:2.2em; left:4.4em;
}
		
#moveDown {
	top:4.4em; left:4.4em;
}
		
#moveDownFast {
	top:6.6em; left:4.4em;
}
		
#moveLeftFast {
	top:3.3em; left:0px;
}
		
#moveLeft {
	top:3.3em; left:2.2em;
}
		
#moveRight {
	top:3.3em; left:6.6em;
}
		
#moveRightFast {
	top:3.3em; left:8.8em;
}
		
#rotateCCW {
	top:1.1em; left:2.2em;
}
		
#rotateCW, #lineEnds {
	top:1.1em; left:6.6em;
}
		
#deleteCell {
	top:5.5em; left:2.2em;
}
		
#copy {
	top:5.5em; left:6.6em;
}

.toolbox, .itemProperties {
    padding: 0.6em;
}

.toolbox .button.addItem {
    width:5.5em;
    font-size:1.0em;
}

.toolbox .button.addItem .ui-button-text, .itemProperties .color .ui-button-text {
    padding: .4em;
}

.heading {
    font-size:22px;
    text-align:center;
    padding-top:8px;
}

/* board theme-specific styling start */
#render .light {
    fill:white;
}
		
#render .dark {
    fill:black;
}
		
#render .mid {
    fill:gray;
}

#render .strokeLight {
    stroke:white;
}
		
#render .strokeDark {
    stroke:black;
}
		
#render .strokeMid {
    stroke:gray;
}
/* board theme-specific styling end */

#render .selected {
	opacity:0.7;
}
		
.popup label, .popup input {
	display:block;
}
		
.popup input.text {
	margin-bottom:12px; width:95%; padding: .4em;
}

#sqPattern, #hexPattern, #triPattern, #cirPattern {
	margin-bottom:12px;
}