#main {
    position: absolute;
    left: 14.5em;
    right: 0px;
    top: 5.5em;
    bottom: 0px;
}

#render {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#sidebar {
    position:absolute;
    top:3.5em;
    bottom:0;
    left:0.1em;
    width:14.5em;
    z-index:-1;
}

#sidebar .section {
    border:1px solid #d3d3d3;
    background-color:#d8e0ef;
    margin-top:1em;
    padding: 0.6em;
}

#sidebar .section h3 {
    margin-top:0;
    margin-bottom:0.1em;
    font-size:1em;
}

#render line.detail, #render use.piece {
    pointer-events: none;
}

#moveHistory, #captureSection, #heldSection {
    display: none;
}

.sideList {
    background-color: white;
    border: 1px solid #d3d3d3;
}

svg.pieceList {
    width:11.75em;
    height:12em;
}

#moveHistory {
    padding: 0.25em;
    font-size: 0.6em;
    height: 12em;
    overflow-y:scroll;
    white-space: pre-wrap;
}


#moveHistory .move {
    cursor: pointer;
}

#moveHistory .move:hover {
    text-decoration: underline;
}

#moveDisambiguationOptions li {
    cursor: pointer;
}

#moveDisambiguationOptions li:hover {
    text-decoration: underline;
}