#main {
    position: absolute;
    left: 14.5em;
    right: 0px;
    top: 5.5em;
    bottom: 0px;
}

#render {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#render line.detail, #render use.piece {
    pointer-events: none;
}