html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Segoe UI', Verdana, Helvetica, Sans-Serif;
    font-weight: 300;
    background-color: #C9DAF8;
    box-sizing: border-box;
    overflow: hidden;
}

.app-bar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: 60px;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #3C78D8;
}

    .app-bar .logo {
        -ms-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        line-height: 60px;
        margin: 0 16px;
        color: #fefefe;
        float: none;
        max-width: none;
        font-size: 2.3em;
    }

        .app-bar .logo a {
            text-decoration: none;
            color: inherit;
            font-weight: normal;
        }

.app-bar-actions {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.app-bar button {
    width: 60px;
    height: 60px;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    -webkit-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
    color: #fefefe;
}

.app-bar button.current  {
    color: #999;
}

    .app-bar button img {
        width: 60px;
        height: 60px;
    }

    .app-bar button:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .app-bar button:focus {
        background-color: rgba(255, 255, 255, 0.2);
        outline: 0;
    }

    .app-bar button:active {
        background-color: rgba(255, 255, 255, 0.4);
    }

.promote-layer {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navdrawer {
    position: fixed;
    width: 250px;
    height: 100%;
    background-color: #3C78D8;
    color: #fefefe;
    -webkit-transform: translate(-250px,0);
    transform: translate(-250px,0);
}

    .navdrawer.open {
        -webkit-transform: translate(0,0);
        transform: translate(0,0);
    }

.app-bar, .navdrawer {
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

    .navdrawer ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .navdrawer ul li a {
        display: block;
        height: 60px;
        padding: 0 20px;
        line-height: 60px;
        text-decoration: none;
        color: white;
        -webkit-transition: background-color 0.2s ease-out;
        transition: background-color 0.2s ease-out;
    }

    .navdrawer ul li {
        border-bottom-style: solid;
        border-width: 1px;
        border-color: white;
    }

    .navdrawer ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }

    .navdrawer ul li a:focus {
        background-color: rgba(255, 255, 255, 0.3);
        outline: 0;
    }

    .navdrawer ul li a:active {
        background-color: rgba(255, 255, 255, 0.4);
    }

.main-content {
    margin: 60px 6px 6px 6px;
}

@media all and (min-width: 960px) {

    body {
        padding: 16px;
    }

    .app-bar {
        display: block;
        height: 96px;
        padding: 0 16px;
        margin-bottom: 16px;
        box-sizing: border-box;
        background-color: transparent;
    }

        .app-bar .logo {
            float: left;
            margin: 0;
            font-size: 72px;
            line-height: 96px;
        }

    .app-bar-actions {
        float: right;
        margin: 25px 0;
    }

    .app-bar:after {
        content: ' ';
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }

    button.menu {
        display: none;
    }

    .navdrawer {
        position: relative;
        width: 100%;
        height: auto;
        margin-top: 96px;
        -webkit-transform: none;
        tranform: none;
        -webkit-transition: none;
        transition: none;
    }

        .navdrawer ul {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -ms-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
        }

            .navdrawer ul li {
                border: none;
            }

    .main-content {
        margin-top: 2px;
    }
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #333;
    }

    a:hover {
        background-color: #c7d1d6;
    }

header, footer, hgroup, section {
    display: block;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


footer {
    clear: both;
    font-size: .8em;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

hgroup.title h2, hgroup.title h3 {
    display: inline;
}

hgroup.title h3 {
    font-weight: normal;
    margin-left: 3px;
}

article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

    aside ul {
        list-style: none;
        padding: 0;
    }
    

.label {
    font-weight: 700;
}


#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #loginForm .validation-summary-errors ul {
        margin: 0;
        padding: 0;
    }

    #loginForm .validation-summary-errors li {
        display: inline;
        list-style: none;
        margin: 0;
    }

    #loginForm input {
        width: 250px;
    }

    #loginForm input[type="checkbox"],
    #loginForm input[type="submit"],
    #loginForm input[type="button"],
    #loginForm button {
        width: auto;
    }

#socialLoginForm {
    margin-left: 40px;
    float: left;
    width: 40%;
}

    #socialLoginForm h2 {
        margin-bottom:  5px;
    }

#socialLoginList button {
    margin-bottom: 12px;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

    fieldset legend {
        display: none;
    }

    fieldset ol {
        padding: 0;
        list-style: none;
    }

        fieldset ol li {
            padding-bottom: 5px;
        }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox {
    display: inline;
}

input, textarea {
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 500px;
}

input:not([disabled]), textarea:not([disabled]) {
    background: #fff;
}
    input:disabled, textarea:disabled {
        background: #C1D3FD;
        border: 1px solid #787878;
    }

    input:focus, textarea:focus {
        border: 1px solid #7ac0da;
    }

    input[type="checkbox"] {
        background: transparent;
        border: inherit;
        width: auto;
    }

    input[type="submit"],
    input[type="button"],
    button {
        background-color: #C1D3FD;
        border: 1px solid #787878;
        cursor: pointer;
        font-size: 1.2em;
        font-weight: 600;
        padding: 7px;
        margin-right: 8px;
        width: auto;
    }

    td input[type="submit"],
    td input[type="button"],
    td button {
        font-size: 1em;
        padding: 4px;
        margin-right: 4px;
    }

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0.75em;
    border: 0 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: none 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }

    th a:link, th a:visited, th a:active, th a:hover {
        color: #333;
        font-weight: 600;
        text-decoration: none;
        padding: 0;
    }

    th a:hover {
        color: #000;
    }

    th.asc a, th.desc a {
        margin-right: .75em;
    }

    th.asc a:after, th.desc a:after {
        display: block;
        position: absolute;
        right: 0em;
        top: 0;
        font-size: 0.75em;
    }

    th.asc a:after {
        content: '▲';
    }

    th.desc a:after {
        content: '▼';
    }

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 0 none;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}

@media only screen and (max-width: 850px) {

    
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    input {
        width: 90%;
    }

    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }


    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}