#render .light {
    fill:white;
}
		
#render .dark {
    fill:black;
}
		
#render .mid {
    fill:gray;
}

#render .lightStroke{
    stroke:white;
}
		
#render .darkStroke {
    stroke:black;
}
		
#render .midStroke {
    stroke:gray;
}

#render .selected.light {
    fill:#ffabab;
}
		
#render .selected.dark {
    fill:#540000;
}
		
#render .selected.mid {
    fill:#aa5656;
}

#render .selected.lightStroke{
    stroke:#ffabab;
}
		
#render .selected.darkStroke {
    stroke:#540000;
}
		
#render .selected.midStroke {
    stroke:#aa5656;
}