@model IEnumerable<ChessMaker.Models.User>

@{
    ViewBag.Title = "All Users";
    ViewBag.Message = "Probably not a good idea when there's more than a handful";
}

<section class="contact">
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(u => user.ID)
            </td>
            <td>
                @Html.ActionLink(user.Name, "Profile", new { id=user.Name })
            </td>
        </tr>
    }
    </table>
</section>