@model ChessMaker.Models.UserVariantsModel

@{
    ViewBag.Title = "Variants: " + Model.UserName;
    ViewBag.Message = "Variants what they have made";
}

@if (Model.IsCurrentUser)
{
    <p>To add a new variant, @Html.ActionLink("click here", "New", "Variants").</p>
}
<table>
@foreach (var variant in Model.Variants)
{
    <tr>
        <td>
            @Html.ActionLink(variant.Name, "Edit", "Variants", new { id = variant.VariantID }, null)
        </td>
    </tr>
}
</table>
