@model ChessMaker.Models.GamePlayModel

@{
    ViewBag.Title = Model.Mode + " game: " + Model.Name;
    ViewBag.MinimalLayout = true;
}

<div id="main">
    @Html.Raw(Model.SvgData)
</div>

@section css {
    @Styles.Render("~/Content/Game.css")
    @Styles.Render("~/Users/Theme")
}

@section scripts {
    @Scripts.Render("~/bundles/game")
}